@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(1 53 17);
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 35%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 1px black;

}

.container input {
    width: 100%;
}

.container button {
    width: 100%;
    background-color: rgb(0, 68, 255);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.container .details {
    display: flex;
    flex-direction: column;
    gap: 20px;


}

h4,
span {
    font-size: .8rem;
    font-weight: 500;
    color: rgb(28 28 28);
}

.slogon{
   color: rgb(255, 0, 140);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 0 auto;
    
}