* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

section {
    padding: 40px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 20px;
}

.container .box {
    position: relative;
    height: 80vh;

    box-shadow: 0px 0px 10px 2px black;
}

.container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .content {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 30px;
    text-align: center;
    width: 100%;

}

a {
    text-decoration: none;
    color: rgb(0, 60, 255);
}


@media screen and (max-width:600px) {

    section {
        padding: 30px;
    }

    .container {
    display: grid;
    grid-template-columns: none;
    gap: 20px;
}
}