* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
section .calculator{
    padding: 5px;
    border-radius: 10px;
    width: 40%;
    background-color: rgb(31, 31, 31);
    
}

section .calculator .input input{
    color: white;
    height: 10vh;
    width: 100%;
    padding: 20px;
    background: transparent;
    outline: none;
    border: none;
}

section .calculator .buttons{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    /* grid-template-columns: repeat(autofit,minmax(250px,1fr)); */
}

section .calculator .buttons .b{
      display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    height: 10vh;
    background-color: rgb(67, 67, 67);
}
section .calculator .buttons .equal{
    background-color: rgb(0, 140, 255);
}


@media screen and (max-width:700px) {
    section .calculator{
        width: 100%;
    }
}